body {
    background-color: #e0e5ec;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    background-color: #e0e5ec;
    border: 0;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
        -9px -9px 16px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.box:active {
    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
        inset -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
}
